div class="jumbotron">
    <div class="topics-show-container">
      <div class="pigs">
  <h1><%= @topic.title %></h1>
</div>

    <%= render partial: 'bookmarks/form', locals: {topic: @topic, bookmark: @new_bookmark} %>
    <div class="bookmark-collection"
      <%= render partial: "bookmarks/bookmark", collection: @topic.bookmarks %>
    </div>
  </div>
</div>
<div class="topics-show-footer">
<%= link_to "Back To Topics", root_path, method: :get, class: "btn btn-primary" %>
</div>
</div>
