
  <h1><%= @topic.title %></h1>



  <div class="row">
    <%= render partial: 'bookmarks/form', locals: {topic: @topic, bookmark: @new_bookmark} %>

    <div class="col-md-8">
      <%= render partial: "bookmarks/bookmark", collection: @topic.bookmarks %>
    </div>
  </div>
  <div class='col-md-4'>


    <%= link_to "Back To Topics", root_path, method: :get, class: "btn btn-primary" %>
  </div>
