// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h3 {
  text-align: left;
}
 .jumbotron{
   color: #989898 !important ;
   text-shadow: black 2px 2px;
   font-family: 'Architects Daughter', cursive;
   background-image: url('blackboard-569260_960_720 (1).jpg');
   background-repeat: no-repeat;
   background-size: cover ;
 }
p {
  font-size: 15px;
}
.bookmark-collection {
  padding-top: 200px;

}
.topics-show-footer{
  down: 100px;
}
