// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3{
  height: 50px;
  padding-bottom: 20px;
}
h2 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: -20px;
}
 #topics   {

   
 }
.footer {
  position: fixed;
  bottom: 0;

}
 #bookmarks  {
   height: 100px;
   padding-bottom: 100px;
   text-align: center;

 }
