// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


  .users-jumbotron {
    background-image: url('blackboard-569260_960_720 (1).jpg');
    background-repeat: no-repeat;
    background-size: cover ;
  }

  h2 {
    text-align: center;
  }
  .col-md-4 {
    text-align: center;
  }

  .users-container {
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 100px;
    color: #989898 ;
    text-shadow: black 2px 2px;
    font-family: 'Architects Daughter', cursive;

  }
